## ignore every dataset in folder and subfolders
/data/raw/*
/data/transformed/*

# Exclude .gitkeep files to preserve directory structure
!/data/.gitkeep
!/data/raw/.gitkeep
!/data/transformed/.gitkeep

## ignore installed environment packages but keep directory structure 
/venv/*
!/venv/.gitkeep

## ignore test notebooks
test.ipynb

## prevent Git from tracking any __pycache__ folder, no matter where they appear in your project directory.
__pycache__/