## ignore every dataset in folder and subfolders
/data/raw/*
/data/transformed/*

# Exclude .gitkeep files to preserve directory structure
!/data/.gitkeep
!/data/raw/.gitkeep
!/data/transformed/.gitkeep

## ignore installed environment packages but keep directory structure 
/venv/*
!/venv/.gitkeep